/*INICIALIZACION*/
body{
	margin: 0;
	width: 100%;
	overflow-width: hidden;
}
* {margin:0px; padding:0px; border:0px;}
@font-face{
    font-family: "fuente1";
    src: url(../font/fuente1.ttf) format("truetype");
}
@font-face{
    font-family: "fuente2";
    src: url(../font/fuente2.ttf) format("truetype");
}
@font-face{
    font-family: "fuente3";
    src: url(../font/fuente3.ttf) format("truetype");
}
h1
{
	color: white;
	font-family: "fuente1";
	font-size: 50px;
	text-shadow: 4px 4px 4px black;
	width: 79%;
	display: inline-block;
	vertical-align: top;
}
h1 a,h1 a:hover{
	text-decoration: none;
	color: white;
}
h3 
{
	font-family: "fuente3";
	padding-bottom: 30px;
	text-shadow: 2px 2px 2px gray;
	font-size: 32px;
	font-weight: bold;
}
li
{
	list-style: none;
}

/*ENCABEZADO*/
header
{
	height: 40px;
	background: #1E90FF;
	margin-top: -10px;
	padding: 25px 10%;
}
.user
{
	padding-top: 10px;
	width: 20%;
	display: inline-block;
	color: white;
}
.user .dropdown 
{
	float: right;
}
.dropdown-toggle
{
	background: white;
}


/*CONTENIDO PRINCIPAL*/
section
{
	width: 80%;
	margin: 0 auto;
	padding:30px 0; 
	overflow: hidden;
}

/*INDEX*/
.login
{
	width: 45%;
	padding: 50px 0 0 50px;
	display: inline-block;
}
aside 
{
	text-align: center;
	width: 45%;
	padding: 50px 0 0 0;
	display: inline-block;
	vertical-align: top;
}
aside img
{
	border-radius: 10px;
	box-shadow: 10px 10px 10px gray;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
aside img:hover
{
	-webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}

/*PERFIL*/
.datos-personales
{
	width: 60%;
	font-family: "Helvetica";
	display: inline-block;
	vertical-align: top;
}
h4
{
	text-shadow: 1px 1px 1px gray;
}
.cursos
{
	width: 100%;
}
.curso
{
	height: 150px;
	width: 30%;
	border-radius: 8px;
	border: 2px solid #F5F5F5;
	background-color: #F5F5F5;
	box-shadow: 2px 2px 2px black;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 5px;
	text-align: center;
	vertical-align: top;
}
.curso:hover
{
	border: 2px solid #CDC9C9;
	background-color: #CDC9C9;
}
#horario
{
	display: none;
}
#ocultar_horario
{
	display: none;
}
.enlaces
{
	width: 30%;
	display: inline-block;
}
.links
{
	list-style: none;
}
.link
{
	height: 30px;
}

/*CURSO*/

/*tarea*/
#tareas ul
{
	margin-left: 0px;
}
.tarea
{
	display: inline-block;
	list-style: none;
	height: 200px;
	width: 21%;
	margin-bottom: 5px;
	border: 1px solid lightgray;
	border-radius: 8px;
	box-shadow: 5px 5px 5px gray;
	padding: 5px 10px;
	vertical-align: top;
	margin: 10px 5px;
}
.tarea a{
	text-decoration: none;
}
.detalle
{
	width: 100%;
}
.edicion
{
	width: 100%;
	text-align: right;
}
.imgnewtask
{
	width: 70%;
	margin: 0 15%;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.imgnewtask:hover
{
	-webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}
#newtask
{
	display: none;
}
.grupos
{
	width: 70%;
	display: inline-block;
	vertical-align: top;
	color: black;
	margin-bottom: 10px;
}
.grupo
{
	width: 30%;
	height: 150px;
	border: 1px solid lightgray;
	border-radius: 8px;
	display: inline-block;
	vertical-align: top;
	margin: 10px 10px 0px 0;
	padding: 5px 0 0 5px;
	box-shadow: 4px 4px 4px gray;
}
.linea
{
	width: 100%;
	border-top:1px solid lightgray; 
}
.alumnos
{
	width: 27%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}
.alumnos li,.grupo li{
	margin-left: -25px;
}
.alumnos li
{
	margin-bottom: 5px;
	font-size: 15px;
	cursor: move;
	overflow: hidden;
	border-bottom: 1px solid lightgray;
}
.alumnos li:hover{
	background-color: #00BFFF;
	font-weight: bold;
}
/*NOTAS*/
.relacion-alumnos
{
	margin: 3px 0;
}
.linea
{
  border-top: 1px solid lightgray;
}
.nombres-alumnos
{
	width: 80%;
	display: inline-block;
}
.notas-alumnos
{
	width: 19%;
	display: inline-block;
}
/*subir tarea*/
.tarea-detalle
{
	width: 40%;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
}
.subir-tarea
{
	width: 55%;
	display: inline-block;
	padding-left: 10px;
}
.right
{
	text-align: right;
}


/*PIE DE PAGINA*/
footer
{
	height: 50px;
	background: #F5F5F5;
	padding: 10px 10% 0 10%;
	margin-bottom: -20px;
	position: relative;
}


/*RESPONSIVE DESIGN*/
